.flex-row-container {
  display: flex;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  width: 40%;
  margin: 20px;
}

.flex-col-container p {
  margin-top: 0px;
}
